<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2 class="sidebar-title">Jarrett Goldberg</h2>
            <ul>
                <li><a href="/" class="nav-link active">About Me</a></li>
                <li><a href="/blog" class="nav-link">Blog</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>About Me</h1>
            <p>Welcome to my personal blog! Here, I share my thoughts, experiences, and knowledge about various topics. Feel free to explore and check out my blog posts.</p>
        </div>
    </div>
</body>
</html>
